.vs/
.idea/
bin/
obj/
/artifacts/
/tasks/
TestResults/
.dotnet/
*.user
*.suo
*.apk
*.apks
*.xapk
*.img
*.vhd
*.vhdx
*.qcow2
*.keystore
*.jks
*.pfx
*.cer
*.key
*.log
/userdata*/
/exports/
/downloads/
/cache/
secrets.json
appsettings.Local.json
